name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'binding/dotnet/**'
      - '!binding/dotnet/README.md'
      - 'lib/beaglebone/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - '.github/workflows/dotnet.yml'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'binding/dotnet/**'
      - '!binding/dotnet/README.md'
      - 'lib/beaglebone/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - '.github/workflows/dotnet.yml'

defaults:
  run:
    working-directory: binding/dotnet

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        dotnet-version: [2.0.x, 3.0.x, 3.1.x, 5.0.x, 6.0.x]
        include:
          - dotnet-version: 2.0.x
            binding-framework: netstandard2.0
            test-framework: netcoreapp2.0
          - dotnet-version: 3.0.x
            binding-framework: netcoreapp3.0
            test-framework: netcoreapp3.0
          - dotnet-version: 3.1.x
            binding-framework: netcoreapp3.0
            test-framework: netcoreapp3.1
          - dotnet-version: 5.0.x
            binding-framework: netcoreapp3.0
            test-framework: net5.0
          - dotnet-version: 6.0.x
            binding-framework: net6.0
            test-framework: net6.0

    steps:
    - uses: actions/checkout@v3

    - name: Set up .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Build binding
      run: dotnet build PvRecorder/PvRecorder.csproj --framework ${{ matrix.binding-framework }}

    - name: Test
      run: dotnet test --framework ${{ matrix.test-framework }} -v n

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone, pv-windows]

    steps:
    - uses: actions/checkout@v3

    - name: Build binding
      run: dotnet build PvRecorder/PvRecorder.csproj --framework net6.0

    - name: Test
      run: dotnet test --framework net6.0 -v n
