name: Go Demos

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'demo/go/**'
      - '!demo/go/README.md'
      - '.github/workflows/go-demos.yml'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'demo/go/**'
      - '!demo/go/README.md'
      - '.github/workflows/go-demos.yml'

defaults:
  run:
    working-directory: demo/go

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        go: [ '1.16', '1.17', '1.18', '1.19', '1.20', '1.21', 'stable' ]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up Mingw
      uses: egor-tensin/setup-mingw@v2
      if: ${{ (matrix.os == 'windows-latest') && (matrix.go != 'stable') && (matrix.go < 1.20) }}
      with:
        version: 11.2.0

    - name: Setup go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

      # ************** REMOVE AFTER RELEASE ********************
    - name: Get Go SDK from branch
      run: go get github.com/Picovoice/pvspeaker/binding/go/v3/@ac44e4f64941ef6a121d3ee2d9628d1856d800b6
      # ********************************************************

#    - name: Install dependencies
#      run: go get

    - name: Build
      run: go build

    - name: Run get audio devices
      run: go run demo.go --show_audio_devices

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi3-32, rpi3-64, rpi4-32, rpi4-64, rpi5-32, rpi5-64, pv-windows]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

      # ************** REMOVE AFTER RELEASE ********************
    - name: Get Go SDK from branch
      run: go get github.com/Picovoice/pvspeaker/binding/go/v3/@ac44e4f64941ef6a121d3ee2d9628d1856d800b6
      # ********************************************************

#    - name: Install dependencies
#      run: go get

    - name: Build
      run: go build

    - name: Run get audio devices
      run: go run demo.go --show_audio_devices
