name: Go

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'binding/go/**'
      - '!binding/go/README.md'
      - 'lib/beaglebone/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - '.github/workflows/go.yml'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'binding/go/**'
      - '!binding/go/README.md'
      - 'lib/beaglebone/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - '.github/workflows/go.yml'

defaults:
  run:
    working-directory: binding/go

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go: [ '1.16', '1.17', '1.18' ]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Setup go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

    - name: Pre-build dependencies
      run: ./copy.sh

    - name: Install dependencies
      run: go get

    - name: Build
      run: go build

    - name: Test
      run: go test

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone, pv-windows]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Pre-build dependencies
      run: ./copy.sh

    - name: Install dependencies
      run: go get

    - name: Build
      run: go build

    - name: Test
      run: go test
